[Unit]
Description=devinggo test environment
Documentation=
After=network.target
Wants=

[Service]
Type=simple
User=vagrant
Environment=GF_GERROR_BRIEF=true GF_GCFG_FILE=config.test.yaml
WorkingDirectory=/opt/devinggo
ExecStart=/bin/sh -c '/opt/devinggo_test/devinggo >> devinggo.log 2>&1'
KillMode=ctrl-group
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
